/* YourWardrobe.css */
.wardrobe-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;

}

.wardrobe-item {
    margin: 10px;
    text-align: center;
    width: 400px;
    /* Adjust the width to make the items smaller */
}

.wardrobe-item img {
    width: 100px;
    /* Adjust the width to make the images smaller */
    height: 200px;
    /* Adjust the height to make the images smaller */
    object-fit: contain;
    border-radius: 5px;
    outline: none;
    background-color: pink;

}

.wardrobe-item h3 {
    font-size: 0.9rem;
    /* Adjust the font size to make the text smaller */
    margin-top: 8px;
    /* Reduce the margin to make it more compact */
}